:root {
    --text-color: #303030;
    --text-color-two: #FFFFFF;
    --text-color-three: rgba(157, 164, 189, 0.60);
    --text-color-four: #9DA4BD;
    --text-color-five: #555555;
    --accent-color: #FF6C00;
    --background-color-secondary: rgba(25, 28, 38, 0.20);
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

ul, p {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}
.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}
.visualli-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
/* ----------header----------- */
header {
    background-color : var(--background-color-secondary);

}
.header-logo {
    padding: 32px 0px;
    /* display: block; */
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--text-color-two);
}
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--text-color-two);
}
.header-btn {
    color: var(--text-color-two);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
    background-color: var(--accent-color);
}

/* -----------hero------------ */
.hero {
    background-color : var(--background-color-secondary);
}
.hero-right {
    padding: 184px 526px 208px 100px;
}
.hero-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color-three);
}
.hero-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--text-color-two);
}
.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-four);
    max-width: 370px;
}
.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--text-color);
}
.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}
/* -----------about-------------- */
.about {
    padding: 120px 0px;
}
.about-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}
.about-title {
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    margin-bottom: 20px;
}
.about-after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-five);
    margin-bottom: 20px;
}
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--text-color-five);
    margin-bottom: 42px;
}
.about-btn {
    color: var(--text-color);
}
/* ------------prices------------- */
.prices {
    background-color: var(--background-color-secondary);
    padding: 120px 0px;
}
.prices-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color-three);
    margin-bottom: 20px;
}
.prices-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--text-color-two);
    margin-bottom: 44px;
}
.prices-list {
    padding: 30px 20px;
    border: 1px solid var(--accent-color);
}
.prices-items {
    margin-bottom: 20px;
}
.prices-elem {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-four);
}
.prices-btn {
    color: var(--text-color-two);
    margin: 44px auto 0px;
    display: block;
}
/* ------------benefits------------ */
.benefits {
    padding: 120px 0;
}
.benefits-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}
.benefits-title {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--text-color);
    margin-bottom: 20px;
}
.benefits-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-five);
}
.benefits-items {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--text-color);
    background: #F7F7F7;
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
}
.benefits-items > span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-color);
    display: inline-block;
}
.benefits-items > sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--accent-color);
}

/* ----------barbers---------- */
.barbers {
    padding: 120px 0px;
}
.barbers-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}
.barbers-title {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--text-color);
    margin-bottom: 44px;
}
.barbers-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 8px;
}
.barbers-info {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* ----------gallery---------- */
.gallery {
    padding: 120px 0px;
}
.gallery-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 44px;
}
/* ----------form------------ */
.form-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--text-color-two);
}
/* ----------contacts--------- */
.contacts {
    background-color: aqua;
}
.contacts-title {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--text-color-two);
}
.contacts-link {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-four);
}
.contacts-addres {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-four);
}
.contacts-pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color-two);
}
.contacts-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color-four);
}
/* ----------footer------- */
.footer {
    padding: 56px 0px;
}
.footer-copi {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--text-color-four));
}
.footer-links {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--text-color);
}
.footer-links:hover,
.footer-links:focus {
    color: var(--accent-color);
}